@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-Semibold.eot');
  src: url('../fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Semibold.woff2') format('woff2'),
    url('../fonts/SegoeUI-Semibold.woff') format('woff'),
    url('../fonts/SegoeUI-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
