@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap&subset=cyrillic');
@import 'font';
@import 'colors';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Akrobat';
  color: $primary-color;
}
.header {
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 232px;
  background-color: $bgHeader;
  position: relative;
  &__btn {
    margin-left: 30px;
  }
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar {
  margin-left: auto;
}
.items {
  list-style: none;
  display: flex;
}
.item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    color: $blue;
  }
}
.tel {
  margin-left: 50px;
  a {
    color: $blue;
    text-decoration: none;
  }
}
.btn {
  color: $blue;
  padding: 19px 30px;
  border: 2px solid $blue;
  border-radius: 50px;
  text-transform: uppercase;
  background: transparent;
  font-family: 'Akrobat';
  font-size: 16px;
  letter-spacing: 1.6px;
  &:hover {
    color: $white;
    background-color: $bgBlue;
    box-shadow: 0 10px 15px rgba(0, 99, 217, 0.3);
    border-color: transparent;
  }
}
.info {
  position: relative;
  max-width: 400px;
  margin-top: 160px;
  z-index: 1;
  &__title {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 5px;
  }
  &__text {
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 65px;
    letter-spacing: 0px;
    text-transform: none;
    margin-top: 6px;
    margin-bottom: 30px;
  }
  &__btn {
    margin-left: 0;
    background-color: $blue;
    color: $white;
    span {
      display: inline-block;
      width: 17px;
      height: 12px;
      background-image: url('../images/right-arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 20px;
    }
  }
}
.carousel {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65.8%;
  .owl {
    &-dots {
      position: absolute;
      right: 111%;
      bottom: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-dot {
      cursor: pointer;
      span {
        display: block;
        width: 6px;
        height: 6px;
        background-color: $primary-color;
        margin-right: 14px;
        border-radius: 50%;
      }
      &.active {
        span {
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 2px solid #117af7;
        }
      }
    }
  }
}
main {
  padding-top: 100px;
}
.content {
  padding-bottom: 165px;
  &__btn {
    margin: 0 auto;
    margin-top: 30px;
    background-color: $blue;
    color: $white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-image: url('../images/plus.png');
      margin-left: 20px;
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.card {
  display: block;
  position: relative;
  height: 360px;
  padding-top: 40px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $white;
  text-decoration: none;
  &__cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  &__title {
    max-width: 284px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  &__info {
    position: absolute;
    bottom: 30px;
    span {
      display: inline-block;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 50px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      margin-right: 10px;
    }
  }
  &--oil {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url('../images/Oil.png');
  }
  &--house {
    grid-row: 1/2;
    grid-column: 2/4;
    background-image: url('../images/house.png');
  }
  &--girl {
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url('../images/girl.png');
  }
  &--jacket {
    grid-row: 2/3;
    grid-column: 3/4;
    background-image: url('../images/jacket.png');
  }
  &--engine {
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url('../images/engine.png');
  }
  &--wire {
    color: $primary-color;
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url('../images/wire.png');
    .card__info {
      span {
        background-color: #fff;
      }
    }
  }
  &--area {
    grid-row: 3/4;
    grid-column: 3/4;
    background-image: url('../images/area.png');
  }
}
.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  &__box {
    width: 1280px;
    display: flex;
    position: relative;
    color: $white;
    transform: scale(1);
    margin: 133px auto 0 auto;
    background-image: url('../images/popupBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    input[type='file'] {
      display: none;
    }
    input[type='text'] {
      padding: 22px 20px;
      margin-bottom: 30px;
      font-family: 'Ubuntu';
      color: $white;
      background-color: transparent;
      border: 1px solid rgba($color: $white, $alpha: 0.3);
      &:last-child {
        margin-bottom: 0;
      }
      &::placeholder {
        color: $white;
        opacity: 0.5;
      }
    }
  }
  &__wrap {
    max-width: 750px;
    margin-left: auto;
    margin-right: 70px;
    position: relative;
  }
  &__title {
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  &__info {
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    opacity: 0.75;
  }
  &__area {
    height: 135px;
    align-self: flex-end;
    font-family: 'Ubuntu';
    font-size: 16px;
    color: darken($white, 0.5);
    padding: 23px 0 0 20px;
    line-height: 30px;
    background-color: transparent;
    border: 1px solid rgba($color: $white, $alpha: 0.3);
    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }
  &__file {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    span {
      display: block;
      line-height: 20px;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 20px;
      background-image: url('../images/Icon.png');
      background-repeat: no-repeat;
      margin-right: 20px;
    }
  }
  &__btn {
    padding: 24px 90px;
    background-color: $white;
    color: $blue;
    margin-right: 60px;
  }
  &__checkbox {
    position: relative;
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('../images/CheckBox.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -20px;
      transform: translate(-50% -50%);
      opacity: 1;
    }
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 1px;
      left: -19px;
      background-color: $blue;
      border: 1px solid transparent;
      z-index: 1;
    }
    span {
      display: inline-block;
      font-family: 'Ubuntu';
      font-size: 16px;
      opacity: 0.5;
      line-height: 20px;
      margin-left: 20px;
    }
  }
  &__close {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../images/Shape_1.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: $blue;
    cursor: pointer;
  }
}
.form {
  &-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: end;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px 30px;
    margin-bottom: 30px;
  }
}
#check {
  opacity: 0;
  &:checked + {
    .popup__checkbox::after {
      opacity: 0;
    }
  }
}
.transform-in,
.transform-out {
  display: block;
  transition: all ease 0.5s;
}
.transform-in {
  transform: scale(1);
}
.transform-out {
  transform: scale(0.5);
}

@import 'media';
